<!DOCTYPE html>
<html>
    <head>
        <title> Вход </title>
    </head>
    <body>
        {% if form.errors %}
            <p> Your username and password didn't match </p>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access</p>
            {% else %}
                <p>Please login to see this site</p>
            {% endif %}
        {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Login </button>
        <input type="hidden" name="next" value="{% url 'menu' %}"/>
    </form>
    
    </body>


</html>