<!DOCTYPE html>

<html>
    <head>
        <title> Главное меню </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        <h1> Добро пожаловать в главное меню !</h1>
        <p> 
            <a href="{% url 'settings' %}"> НАСТРОЙКИ </a>
        </p>
        <p><a href="{% url 'subscribe' %}"> КУПИТЬ ПОДПИСКУ </a></p>
            
        <form method="POST">
            {% csrf_token %}
            {% if bot_status %}
                <input type="submit" value="ОСТАНОВИТЬ БОТА"/>
            {% else %}
                <input type="submit" value="АКТИВИРОВАТЬ БОТА"/>
            {% endif %}
            
        </form>

        {{form.as_p}}
        

        <a href="{% url 'logout' %}"> ВЫХОД </a>
    </body>
</html>