<!DOCTYPE html>
<html>
    <head>
        <title> Покупка подписки </title>
    </head>

    <body>
        <p>
            <a href= "{% url 'menu' %}" >
                Переход в главное меню
            </a>
        </p>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <p>
                
                <div>Период оплаты:<input type="radio" name="week", value="1"> 1 неделя
                <input type="radio" name="week", value="2"> 2 недели 
                <input type="radio" name="week", value="4"> 1 месяц
                <input type="radio" name="week", value="12"> 3 месяца </div>
            </p>
            <input type="submit" value="Оформить подписку">
        </form>
        
    </body>

</html>