<!DOCTYPE html>
<html>
    <head>
        <title> Покупка подписки </title>
        <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    </head>

    <body>
        <p>
            <a href= "{% url 'menu' %}" >
                Переход в главное меню
            </a>
        </p>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div id="result"></div>
            <p>
            <div>Период оплаты:
                <input type="radio" name="duration", value="0.5", id="1week"> 2 недели
                <input type="radio" name="duration", value="1" > 1 месяц
                <input type="radio" name="duration", value="3" > 3 месяца
                <input type="radio" name="duration", value="6" > 6 месяцев
            </div>

            </p>
            
            <input type="submit" value="Оформить подписку" onclick="(document.getElementById('sub_load').style.display='block')">
        </form>
        <p>
        <div> Цена за подписку</div>
        <div id="sub_summ">0</div>
        </p>

        <p>
        <div> Цена за одну группу</div>
        <div id="sub_group_summ">0</div>
        </p>

        <div id="sub_load" hidden="true" style="display: none">Идет регистрация. Ждите.</div>

        <script>
            var ton = 0
            $(document).ready(function(){
                $('#id_bookmaker').change(function(){
                    if ($('#id_bookmaker option:selected').attr("value") === "betscsgo") {
                        $("#result").html("<b> ВНИМАНИЕ: аккаунт должен быть без Steam Guard! </b>");
                    } else {
                        $("#result").html("");
                    }
                    // скрыть эти комменты
                    // сюда добавлять дополнительное отображение при выборе из bookmaker
                    
                });
            });
            function calculate_sub() {
                var dur = document.getElementsByName('duration');
               var base_day_payment = 30, a = 0.2, b=0.14;
               var days, sale_mn;
               var group_count = document.getElementById("id_max_group_count").value

               for (i = 0; i < dur.length; i++)
                   if (dur[i].checked) {
                       days = dur[i].value * 31;
                       sale_mn = i
                   }

               var count_sale = Math.pow(1-b, group_count - 1);
               var duration_sale = Math.pow(1-a, sale_mn)
               var S = base_day_payment * days * duration_sale * count_sale;
               $('#sub_summ').text(Math.trunc(S * group_count * 100) / 100);
               $('#sub_group_summ').text(Math.trunc(S * 100) / 100);
            }
            $('input[type=radio]').change(function () {
               calculate_sub();
            });
            $('#id_max_group_count').change(function () {
               calculate_sub();
            });
        </script>


        
    </body>

</html>